<% provide(:title, "開発者紹介") %>
<div class="manager">
  <h1>Manager</h1>
  <div class="manager-container">
    <div class="pic">
      <%= image_tag "static_pages/self1.jpg" %>
    </div>
    <div class="content">
      <p>①名前　　：　前川英輝</p>
      <p>②出身地　：　愛知県名古屋市</p>
      <p>③出身校　：　南山大学　経営学部</p>
      <p>④生年月日：　１９９９年５月９日</p>
      <p>⑤趣味　　：　ゴルフ(ベスト102)</p>
    </div>
  </div>
  
  <div class="introduction">
    <h2>プログラマーを目指したきっかけ</h2>
    <p>
      　きっかけは２つあり、「リッチマン・プアウーマン」という小栗旬さんが主演のドラマと、アルバイトでの出来事です。
      「リッチマン・プアウーマン」は知っている人も多いと思いますが、2012年放送のドラマで、IT企業が舞台となっています。
      是非見て頂きたいので、ここではストーリーをお話ししませんが、このドラマのいたるところにITの凄さが溢れ出ています。
      例えば、小さい企業が圧倒的な技術力で大企業を圧倒し、国からの案件を勝ち取るところや、
      古いアパートの一室からわずか8年間で時価総額3000億円もの富を築く姿などです。<br>
      　このドラマを見た時、当時小学６年生の僕は「ITってすごいかっこいい。」と思ったことを今でも鮮明に覚えています。
      しかし、当時の僕はなりたいとまでは思いませんでした。理由は、ドラマの中のIT社長があまりに凄すぎて、自分には無理だと思ったからです。<br>
      　そのまま月日が過ぎ、大学生になりました。大学１年の時に始めた営業のアルバイトで、たまたま入って２ヶ月で東海３県の営業マンの中で営業成績が1位になり、そこで営業に目覚めました。
      その後、営業のさらなるスキルを身につける為に大学３年の夏から訪問販売を始めました。そこで、出会ったのが、IT企業に勤めているお父さんです。
      真夏の気温が35度を超える中、平日の正午にいろんな家に飛び込んでいると、１件だけお父さんが出てくる家庭がありました。
      平日の昼間なので、ほとんどの家が奥さんが出られるか、留守なのですが、そこの家だけお父さんが出られました。
      普段は聞くことはめったにないのですが、あまりの驚きにすかさず、「なんのお仕事をされているんですか？」と尋ねました。
      そこで返ってきた言葉が「ITだよ」でした。そのセリフを聞いた時に、「ITかっこいいな」と言っていた小学生の時の記憶が全て蘇ってきたと同時に、圧倒的敗北感を感じました。
      ITのお父さんはエアコンの効いた部屋で自由に仕事しているのに対し、僕は汗をかきながら、ひたすらインターホンを押していたのです。<br>
      　その日、家にすぐに帰ってIT企業についてめちゃくちゃ調べました。次の日も、さらに次の日もめちゃめちゃ調べました。そして、自分を何回も見つめ直しました。
      そこで出た答えが「俺はITで働きたい」です。
      小学生の時の記憶と、大学３年生で実際にIT企業に勤めている人との出会いがきっかけとなり、周りがインターンに行っている中、僕はひたすらプログラミングの勉強をしていました。
      まだ、この選択が正しかったかどうかはわかりません。しかし、この選択が正しかったと思えるように、全力で努力しています。</p>
  </div>
  
  <div class="introduction">
    <h2>学習言語</h2>
    <div class="languages">
      <div class="item">
        <h1>デザイン</h1>
        <table>
          <tr>
            <th>言語</th>
            <th>スキル</th>
          </tr>
          <tr>
            <td>HTML5</td>
            <td><span class="star5_rating" data-rate="5"></span></td>
          </tr>
          <tr>
            <td>CSS3</td>
            <td><span class="star5_rating" data-rate="5"></span></td>
          </tr>
          <tr>
            <td>Bootstrap</td>
            <td><span class="star5_rating" data-rate="3"></span></td>
        </table>
      </div>
      
      <div class="item">
        <h1>フロントエンド</h1>
        <table>
          <tr>
            <th>言語</th>
            <th>スキル</th>
          </tr>
          <tr>
            <td>javascript</td>
            <td><span class="star5_rating" data-rate="3"></span></td>
          </tr>
        </table>
      </div>
      
      <div class="item">
        <h1>バックエンド</h1>
        <table>
          <tr>
            <th>言語</th>
            <th>スキル</th>
          </tr>
          <tr>
            <td>Ruby on Rails</td>
            <td><span class="star5_rating" data-rate="4"></span></td>
          </tr>
        </table>
      </div>
      
      <div class="item">
        <h1>DB</h1>
        <table>
          <tr>
            <th>言語</th>
            <th>スキル</th>
          </tr>
          <tr>
            <td>MySQL</td>
            <td><span class="star5_rating" data-rate="3"></span></td>
          </tr>
          <tr>
            <td>SQLite</td>
            <td><span class="star5_rating" data-rate="3"></span></td>
          </tr>
        </table>
      </div>
      
      <div class="item">
        <h1>インフラ・サーバー</h1>
        <table>
          <tr>
            <th>言語</th>
            <th>スキル</th>
          </tr>
          <tr>
            <td>AWS</td>
            <td><span class="star5_rating" data-rate="3"></span></td>
          </tr>
          <tr>
            <td>Docker</td>
            <td><span class="star5_rating" data-rate="4"></span></td>
          </tr>
          <tr>
            <td>CircleCI</td>
            <td><span class="star5_rating" data-rate="2"></span></td>
          </tr>
        </table>
      </div>
      
      <div class="item">
        <h1>その他</h1>
        <table>
          <tr>
            <th>言語</th>
            <th>スキル</th>
          </tr>
          <tr>
            <td>git・gitHub</td>
            <td><span class="star5_rating" data-rate="4"></span></td>
          </tr>
        </table>
      </div>
      
      <div class="item">
        <h1 class="future">今後学ぶ予定の技術</h1>
        <p>React</p>
        <p>Ruby</p>
        <p>python(Django)</p>
      </div>
    </div>
  </div>
  
  <div class="introduction">
    <h2>プログラマーとしての目標</h2>
    <p>　目標は、日本から世界的サービスを送り出すことです。日本は他の国からITの技術が高いと思われていません。
      実際に、シリコンバレーのIT企業が他の国に仕事を頼む際に、声がかかるのは中国やインドあたりで、
      日本に声をかけることはないそうです。その現状を知った今、黙っていることはできません。
      そこで、日本から世界的なサービスを送り出し、日本のIT技術を世界にアピールすることが僕の目標です。
      しかし、僕はまだ駆け出しエンジニアでなんの力もありません。なので、誰よりも勉強し、スキルを身につけ、
      目標を達成します。
    </p>
  </div>
  <div class="test">
  </div>
</div>


