<h1>NJSへようこそ</h1>

<p>こんちちは、<%= @user.name %>さん</p>

<p>
下記のリンクをクリックすれば、アカウント設定が完了します。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>