<%= link_to event_path(event) do %>
  <div class="frame">
    <picture>
      <%= image_tag "static_pages/orange.jpg" %>
    </picture>
    <div class="letters">
      <h2><%= event.title %></h2>
      <p><%= event.created_at.to_s(:datetime_jp) %></p>
    </div>
  </div>
<% end %>