@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick-theme";
@import "slick";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 122px;
  font-size: 55px;
  letter-spacing: -1.6px;
}

#logo:hover {
  text-decoration: none;
}

header {
  // background-color: #2e3092;
  background: white;
  height: 122px !important;
  border: 1px solid rgba(191, 191, 191, 1) !important;
  box-shadow: 0 1px 10px;
}

#logo-help {
  font-size: 13px;
  float: left;
  color: white;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.9;
  padding: 36px 15px;
  color: black !important;
}


.nav > li > a {
  // color: white;
  color: black;
  line-height: 121px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 18px;
  transition-duration: 0.3s;
}

.nav > li > a:hover {
  color: black;
}


/* body */
body {
  padding-top: 60px;
}

body > .container {
  margin-top: 30px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  clear: both;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* debug */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


.radio [type="radio"] {
  display: inline-block;
  width: 55px;
  float: left;
}

.radio table  {
  width: 600px;
}



/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* homepage */

.slider {
  width: 90%;
  margin: 0 auto 80px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.mypattern{
  width: 100%;
}
.mypattern .slick-slide{
  margin: 10px;
}

.content {
  margin: 50px -150px 0 -150px;
}

.slider img {
  height: 520px !important;
  box-shadow: 2px 2px 10px black;
  transition: 0.4s;
}

.slider img:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 5px black;
}


.home_content {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 50px;
}

.home_content > h1 {
  margin-bottom: 30px;
  text-shadow: 4px 4px 18px;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  clear: both;
}

.home-container a {
  text-decoration: none;
}

.home-container > a:hover {
  .frame {
    box-shadow: 6px 6px 20px;
  }
  .contents {
    color: white;
    background: rgba(0, 3, 51, 0.8);
  }
}

.frame {
  width: 370px;
  height: 395px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 5px;
  transition: 0.7s;
}

picture img {
  width: 370px;
  height: 250px;
}

.contents {
  margin: 0 auto;
  width: 370px;
  height: 145px;
  transition: 0.7s;
  text-decoration: none;
  color: black;
}

.contents h2 {
  font-size: 20px;
  margin-top: 0;
  padding-top: 43px;
}


.events {
  margin-top: 100px;
}


/* manuscript event */

.manuscript_event_index {
  margin-top: 80px;
}

.manuscript_event_index > h1 {
  margin-bottom: 13px;
}

.pagination {
  margin-top: 0;
  margin-bottom: 15px;
  float: right;
  width: 239px;
  height: 40px;
}



/* credit */
.credit_index {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}

.credit_box {
  margin-bottom: 10px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.1);
}

#select_order {
  pointer-events: none;
  color: black;
}


/* club */
.club_show > h1,p {
  text-align: center;
}

.club_img {
  text-align: center;
}

.club_content {
  width: 820px;
  margin:0 auto;
  padding: 30px 0;
}

.club_table {
  width: 820px;
  margin:0 auto;
}

.club_table td:nth-child(1) {
  width: 30%;
  background-color: cornsilk;
}

.club_table td {
  padding: 20px;
}

.club_likes h1 {
  text-align: center;
  margin-top: 70px;
}

.club_likes_user_box {
  margin-bottom: 10px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.1);
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}

.club_likes_user_box p {
  margin: 0;
}

.club_index {
  width: 80%;
  margin: 50px auto;
}

.club_index > h1 {
  margin-bottom: 20px;
  font-size: 28px;
  text-shadow: 1px 1px 1px black;
}

.club_index > .items {
  margin-bottom: 45px;
}

.club_index > .items a {
  display: inline-block;
  width: 280px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px black;
  text-align: center;
  line-height: 80px;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
  color: white;
  background: rgba(46, 48, 146, 1);
}

.club_index > .items a:hover {
  background: rgba(46, 48, 146, 0.8);
  box-shadow: 1px 1px 2px black;
}

.club_index > .items a:after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 15px;
}


/* manager */
.manager {
  background: rgba(237, 222, 178, 0.3);
  text-align: center;
  height: 2800px;
  margin: 0 -150px -300px;
  padding-top: 37px;
}

.manager > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manager > h1 {
  padding-top: 30px;
  margin-bottom: 40px;
}

.manager > h2 {
  font-weight: bold;
}

.manager .pic {
  width: 35%;
}

.manager .pic img {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
}

.manager .content {
  width: 45%;
  text-align: left;
  align-self: center;
  margin: 0;
}

.manager .content p {
  text-align: left;
}

.manager .content p:first-child {
  margin-top: 10px;
}

.manager .content p:last-child {
  margin-bottom: 0;
}

.introduction {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.introduction h2 {
  padding-bottom: 15px;
  margin-top: 100px;
}

.introduction p {
  line-height: 2em;
}

.introduction .languages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.languages > .item{
  // background: white;
  background: rgba(46, 55, 71, 1.0);
  border: 1px solid black;
  width: 48%;
  height: 230px;
  margin-bottom: 20px;
  color: white;
}

.languages > .item:first-child {
  width: 100%;
}

.languages > .item h1 {
  font-size: 23px;
}

.languages > .item table {
  width: 80%;
  margin: 0 auto;
}

.languages > .item table th {
  text-align: center;
  padding-top: 25px;
}

.languages > .item table td {
  padding: 10px 0;
}

.languages > .item table td:first-child {
  font-weight: bold;
}

.future {
  padding-bottom: 25px;
}
  

  

