@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick-theme";
@import "slick";

/* 全体 */

body {
  -webkit-text-size-adjust: 100%;
  > .container {
    margin-top: 122px;
  }
}

@media (max-width: 767px) {
  body > .container {
    margin-top: 18.66667vw;
  }
}

@media (max-width: 600px) {
  body > .container {
    margin-top: 17vw;
  }
}

@media (max-width: 500px) {
  body > .container {
    margin-top: 15vw;
  }
}

.alert {
  margin-top: 10px;
  margin-bottom: 0;
}



/* 共通 */
/* box-design(home manuscript event club) 共通部分*/
.box-design {
  text-align: center;
  margin-top: 50px;
  h1 {
    margin-bottom: 30px;
    text-shadow: 4px 4px 18px;
  }
  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    clear: both;
    &:after {
      content: "";
      display: block;
      width: 370px;
      height: 0;
    }
  }
}

.box-container a {
  text-decoration: none;
  &:hover {
    .frame {
      box-shadow: 6px 6px 20px;
      .letters {
        color: white;
        background: rgba(0, 3, 51, 0.8);
      }
    }
  }
}

.frame {
  width: 370px;
  height: 395px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 5px;
  transition: 0.7s;
  picture {
    img {
      width: 100%;
      height: 67%;
      object-fit: cover;
    }
  }
  .letters {
    margin: 0 auto;
    width: 100%;
    height: 33%;
    transition: 0.7s;
    text-decoration: none;
    color: black;
    position: relative;
    background: rgba(247, 229, 199, 0.2);
    color: black;
    h2 {
      font-size: 18px;
      line-height: 1.5em;
      margin-top: 0;
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      width: 98%;
      transform: translate(0, -50%);
    }
    p {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 1200px) {
  .box-design {
    .box-container {
      justify-content: center;
      &:after {
        margin: 0 20px 30px 20px;
      }
    }
  }
  
  .frame {
    margin: 0 20px 30px 20px;
  }
}

@media (max-width: 992px) {
  .box-design {
    .box-container {
      &:after {
        width: 320px;
      }
    }
  }
  
  .frame {
    width: 320px;
    height: 330px;
    .letters h2 {
      font-size: 14px;
    }
  }
}


@media (max-width: 767px) {
  .box-design {
    h1 {
      font-size: 5.86667vw;
    }
    .box-container > a {
      width: 100%;
    }
  }
  
  .frame {
    display: flex;
    width: 100%;
    height: 32vw;
    margin: 0 0 3.73333vw; 
    box-shadow: 0.2rem 0.2rem 0.6rem;
    picture {
      width: 36%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .letters {
      height: 100%;
      width: 64%;
      background: rgba(0, 3, 51, 0.8);
      color: white;
      h2 {
        font-size: 3.46667vw;
      }
      p {
        font-size: 3.2vw;
        margin-bottom: 0.7vw;
      }
    }
  }
}



/* (manuscript, event, contact, club) indexの共通部分 + pagination */
.common {
  margin-top: 50px;
  h1 {
    margin-bottom: 13px;
  }
}

.pagination-pc {
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}

.pagination-phone {
  display: none;
  float: right;
}

@media (max-width: 767px) {
  .pagination-pc {
    display: none;
  }
  .pagination-phone {
    display: initial;
  }
}



/* (manuscript, event, contact, club) showの共通部分 */
.page-visual {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  > a {
    margin-top: 20px;
    display: inline-block;
  }
  > h1 {
    font-size: 30px;
    margin: 50px 0 30px 0;
  }
  > p {
    margin-top: 30px;
    white-space: pre-line;
    text-align: left;
  }
}

@media (max-width: 1200px) {
  .page-visual {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .page-visual {
    width: 95%;
    > img {
      height: 370px;
    }
  }
}

@media (max-width: 767px) {
  .page-visual {
    margin-top: 6vw;
    width: 90%;
    > h1 {
      padding-top: 2vw;
      font-size: 6vw;
    }
    > img {
      height: 50vw;
    }
    > p {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 600px) {
  .page-visual {
    width: 100%;
    > h1 {
      margin: 10vw 0 7vw 0;
    }
  }
}



/* header */

.navbar {
  background: white;
  border: 1px solid rgba(191, 191, 191, 1) !important;
  box-shadow: 0 1px 10px;
  .navbar-header {
    .navbar-toggle {
      box-sizing: border-box;
      border: none;
      width: 50px;
      height: 50px;
      height: 18.66667vw;
      margin: 0 8px 0 0;
    }
    > button:hover {
      background-color: transparent !important;
    }
    #logo {
      padding: 0 22px 0 15px;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 122px;
      font-size: 55px;
      letter-spacing: -1.6px;
      text-decoration: none;
    }
    #logo-help {
      font-size: 13px;
      color: white;
      line-height: 25px;
      opacity: 0.9;
      padding: 36px 15px;
      color: black !important;
    }
  }
  .nav {
    > li {
      > a {
        line-height: 121px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        font-size: 16px;
        transition-duration: 0.3s;
      }
    }
  }
}

@media (max-width: 1000px) {
  .nav > li > a {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .navbar {
    .navbar-header {
      #logo {
        line-height: 18.66667vw;
        font-size: 10vw;
      }
      #logo-help {
        float: none;
        font-size: 3vw;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        height: 18.66667vw;
        line-height: 1.4;
        opacity: 0.9;
      }
    }
    .nav {
      > li {
        > a {
          line-height: 40px;
          font-size: 16px;
        }
      }
    }
  }
}

  

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #777;
  clear: both;
  border-top: 1px solid rgba(191, 191, 191, 1);
  ul {
    float: right;
    list-style: none;
    margin-bottom: 33px;
    li {
      float: left;
      margin-left: 15px;
      a {
        color: #555;
        &:hover {
          color: #222;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  footer {
    margin-top: 10px;
    ul {
      margin-bottom: 25px;
    }
  }
}


/* debug */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.form-title h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 32px;
}

form input[type="file"] {
  border: none;
}

.radio {
  table {
    width: 100%;
    label {
      padding-left: 5px;
    }
    [type="radio"] {
      width: auto;
      margin: 0 0 0 2px !important;
      position: relative !important;
    }
  }
}


/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* homepage */

.content {
  margin: 20px -20vw 0 -20vw;
  .slider {
    width: 100%;
    margin: 0 auto 80px;
    .slick-slide {
      margin: 10px;
    }
  }
}

.slick-slide {
  img {
    height: 520px ;
    width: 100%;
    box-shadow: 2px 2px 10px black;
    transition: 0.4s;
    object-fit: cover;
    &:hover {
      opacity: 0.8;
      box-shadow: 4px 4px 5px black;
    }
  }
}

@media (max-width: 800px) {
  .slick-slide img {
    height: 60vw !important;
  }
}

@media (max-width: 600px) {
  .slick-slide img {
    height: 65vw !important;
  }
}

.event-box {
  margin-top: 100px;
}

@media (max-width: 1200px) {
  .event-box {
    margin-top: 50px;
  }
}

@media (max-width: 992px) {
  .event-box {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .event-box {
    margin-top: 8vw;
  }
}



/* credit */
.search-entire {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}

.search-entire > h3 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  padding-right: 7px;
}

.search-container {
  display: flex;
}

.search-input #word {
  margin: 0;
  width: 200px;
  line-height: 20px;
  height: 20px !important;
}

.search-submit input {
  line-height: 20px;
  height: 20px !important;
  margin: 0;
}

.credit-index {
  margin: 10px auto 0;
  text-align: center;
}

.credit-index > h1 {
  margin-bottom: 28px;
}

.credit-index > a {
  float: right;
  box-shadow: 2px 2px 8px black;
  width: 150px;
  line-height: 40px;
  color: white;
  background: rgba(33, 163, 0, 1);
  border-radius: 3px;
  text-decoration: none;
  transition: 0.3s;
}

.credit-index > a:hover {
  background: rgba(61, 200, 18, 1);
  box-shadow: 1px 1px 1px black;
}

.credit-index > .order {
  display: flex;
  padding-top: 25px;
}

.credit-index > .order a {
  margin-right: 10px;
  text-decoration: none;
}

#select_order {
  pointer-events: none;
  color: black;
}

.credit-box {
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: left;
  width: 100%;
  background: rgba(255, 255, 135, 0.3);
}

.credit-box > h1 {
  font-size: 25px;
  float: left;
  line-height: 40px;
  margin: 10px 20px 0 10px;
}

.credit-box ul {
  list-style: none;
}

.credit-box li {
  display: inline-block;
  margin-right: 10px;
}

.credit-box .type {
  line-height: 40px;
  margin-top: 10px;
}

.credit-box > .type li:last-child {
  float: right;
  margin-right: 10px;
}

.credit-box .rank {
  padding-left: 10px;
}

.star5_rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #cccccc;
}

.star5_rating:before, .star5_rating:after {
  content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32;
}

.star5_rating[data-rate="5"]:after{ width: 100%; }
.star5_rating[data-rate="4"]:after{ width: 80%; }
.star5_rating[data-rate="3"]:after{ width: 60%; } 
.star5_rating[data-rate="2"]:after{ width: 40%; } 
.star5_rating[data-rate="1"]:after{ width: 20%; }


.credit-box > p {
  border: 1px solid black;
  margin: 0 3px 10px;
  padding: 0 5px;
  text-decoration: underline dotted black;
  line-height: 30px;
  background: white;
  border-radius: 3px;
}

.credit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
}

.credit-container > .common {
  display: flex;
  border: 1px solid black;
  margin-top: 5px;
  background: white;
  border-radius: 3px;
}

.common > dt {
  background: rgba(255, 140, 0, 0.8);
  width: 80px;
  text-align: center;
  flex-shrink: 0;
  position: relative;
}

.common > dt > p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 80px;
}

.common > dd {
  flex-shrink: 1;
  position: relative;
  width: 100%;
}

.common > dd > p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.common > dd,dt {
  line-height: 30px;
}

.credit-container .attendance,.text {
  width: calc(50% - 8px);
}

.credit-container .attendance {
  margin-left: 3px;
  margin-right: 7px;
}

.credit-container .text {
  margin-right: 3px;
}

.credit-container .test {
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 5px;
  width: calc(100% - 6px);
}


@media (max-width: 600px) {
  .credit-index > a {
    box-shadow: 2px 2px 4px black;
    width: 110px;
    line-height: 30px;
  }
  .search-entire {
    margin-top: 35px;
    width: 100%;
  }
  .search-entire > h3 {
    display: none;
  }
  .search-input #word {
    width: 32vw;
    height: 18px !important;
    line-height: 18px;
  }
  .search-submit input {
    line-height: 18px;
    height: 18px !important;
    padding-right: 3px;
    padding-left: 3px;
  }
  .credit-index > h1 {
    margin-top: 13px;
    font-size: 30px;
  }
  .credit-index > .order {
    display: flex;
    padding-top: 13px;
  }
  .credit-index > .order a {
    margin-right: 10px;
    text-decoration: none;
  }
  .credit-index > .order span {
    display: none;
  }
  .credit-box {
    margin-bottom: 10px;
  }
  .credit-box > h1 {
    font-size: 18px;
    float: none;
    line-height: 30px;
    margin: 7px 10px 0 7px;
  }
  .credit-box > ul {
    padding-left: 7px;
    margin: 0;
  }
  .credit-box li {
    margin-right: 5px;
  }
  .credit-box .type {
    line-height: 30px;
    margin: 0;
  }
  .credit-box > .type li:last-child {
    display: none;
  }
  .credit-box .rank {
    padding-left: 7px;
  }
  // .credit-container > .test > dd {
  //   word-break: keep-all;
  // }
  .common > dd,dt {
    line-height: 2rem;
  }
  .credit-box > p {
    line-height: 2rem;
  }
}


@media (max-width: 520px) {
  .common > dt {
    width: 50px;
    position: relative;
  }
  .common dt p {
    width: 50px;
  }
  .credit-container > .test span {
    display: none;
  }
}


/* club */

.do-like > a {
  display: inline-block;
  background: rgba(42, 137, 155, 1);
  width: 100%;
  height: 50px;
  margin-top: 30px;
  color: white;
  line-height: 50px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 5px black;
  transition: 0.3s;
  &:hover {
    box-shadow: 2px 2px 5px black;
    background: orange;
  }
}

.club-table {
  width: 100%;
  td {
    padding: 20px;
    white-space: pre-line; 
    text-align: left;
    &:nth-child(1) {
      width: 30%;
      background-color: cornsilk;
    }
  }
}

.club-lovers {
  > h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .information-box {
    margin-bottom: 10px;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &:nth-child(2n-1) {
      background: rgba(0, 0, 0, 0.08);
    }
    p {
      margin: 0;
      width: 25%;
      text-align: left;
      line-height: 25px;
    }
    .mail {
      width: 50%;
    }
  }
}

.club-index {
  width: 80%;
  margin: 50px auto;
  h1 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .items {
    margin-bottom: 45px;
    a {
      display: inline-block;
      width: 280px;
      height: 80px;
      margin-right: 20px;
      margin-bottom: 20px;
      box-shadow: 2px 2px 5px black;
      text-align: center;
      line-height: 80px;
      transition: 0.3s;
      position: relative;
      text-decoration: none;
      color: white;
      background: rgba(46, 48, 146, 1);
      &:after {
        font-family: "Font Awesome 5 Free";
        content: "\f054";
        font-weight: 900;
        position: absolute;
        top: 0;
        right: 15px;
      }
      &:hover {
        background: rgba(46, 48, 146, 0.8);
        box-shadow: 1px 1px 2px black;
      }
    }
  }
}

.club-box h1 {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .club-index {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .club-index {
    > .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      a {
        width: 48%;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .club-lovers h1 {
    font-size: 6vw;
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .club-table td {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .club-index {
    h1 {
      margin-bottom: 20px;
      font-size: 6vw;
    }
    > .items a {
      width: 98%;
      margin-right: 0;
    }
  }
  
  .club-lovers {
    .information-box {
      p {
        width: 100%;
        line-height: 20px;
      }
      .mail {
        width: 65%;
      }
      .date {
        width: 35%;
      }
    }
  }
}



/* manager */
.manager > .back-color {
  background: rgba(237, 222, 178, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.manager {
  text-align: center;
  margin: 50px auto 0;
}

.manager-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manager > h1 {
  margin-bottom: 40px;
  margin-top: 0;
}

.manager-container > .pic {
  width: 40%;
}

.manager-container > .pic img {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
}

.manager-container > .content {
  width: 47%;
  text-align: left;
  align-self: center;
  margin: 0;
}

.introduction {
  width: 73%;
  margin-left: auto;
  margin-right: auto;
}

.introduction h2 {
  padding-bottom: 15px;
  margin-top: 100px;
}

.introduction > p {
  line-height: 2em;
  text-align: left;
}

.introduction .languages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.languages > .item{
  background: rgba(46, 55, 71, 1.0);
  border: 1px solid black;
  width: 48%;
  height: 230px;
  margin-bottom: 20px;
  color: white;
}

.languages > .item:first-child {
  width: 100%;
}

.languages > .item h1 {
  font-size: 23px;
}

.languages > .item table {
  width: 80%;
  margin: 0 auto;
}

.languages > .item table th {
  text-align: center;
  padding-top: 25px;
}

.languages > .item table td {
  padding: 10px 0;
}

.languages > .item table td:first-child {
  font-weight: bold;
}

.future {
  padding-bottom: 25px;
}


@media (max-width: 1200px) {
  .introduction {
    width: 80%;
  }
}


@media (max-width: 992px) {
  .introduction {
    width: 95%;
  }
}


@media (max-width: 767px) {
  .manager-container {
    margin: 0 auto;
    width: 80%;
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  .manager-container > .pic {
    width: 100%;
    text-align: center;
  }
  .manager-container > .content {
    width: 226px;
    margin: 20px auto 0;
    padding-left: 2px;
  }
  .manager > h1 {
    font-size: 6vw;
    margin-bottom: 4.3vh;
  }
  .manager-container > .pic img {
    width: 40vw;
    display: inline-block;
  }
  .introduction h2 {
    font-size: 4.8vw;
    margin-top: 7vh;
    margin-bottom: 0;
  }
  .introduction > P {
    line-height: 1.7em;
  }
  .languages > .item{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    color: white;
  }
  .languages > .item h1 {
    font-size: 4.3vw;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .languages > .future {
    padding-bottom: 15px;
  }
  .languages > .item p {
    font-size: 4.3vw;
  }
  .languages > .item table tr {
    font-size: 3.8vw;
  }
  .languages > .item table td {
    padding: 5px 0;
  }
  .languages > .item table th {
    padding-top: 15px;
  }
  .languages > .item table tr:last-child td {
    padding-bottom: 10px;
  }
}


/* contact  */
.contact-new p {
  margin-top: 30px;
  margin-bottom: 10px;
}
  
.contact-index {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-index > h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.contact-index .admin-box {
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-index .admin-box > p {
  margin: 0;
  width: 100%;
  text-align: left;
}

.contact-index .admin-box > p:last-child {
  width: 40%;
}

.personal-information h3 {
  font-size: 18px;
  margin-top: 50px;
}
  
.admin-entrance {
  text-align: center;
}


@media (max-width: 600px) {
  .contact-index {
    width: 100%;
  }
  
  .form-title h1 {
    font-size: 6.6vw;
  }
}



/* users */
.users-show {
  width: 80%;
  margin: 50px auto 0;
  text-align: center;
}

.users-show > h3 {
  margin-top: 35px;
  margin-bottom: 20px;
}

.users-show table {
  margin: 0 auto 20px;
  width: 100%;
}

.users-show table td:first-child {
  background: rgba(255, 197, 110, 0.5);
  width: 30%;
  height: 40px;
}


@media (max-width: 600px) {
  .users-show {
    width: 100%;
  }
  .users-show > h1 {
    font-size: 6.5vw;
  }
  .users-show > h3 {
    font-size: 4.5vw;
  }
}
