<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "ご意見・ご要望", '#' %></li>
      <li><%= link_to "開発者紹介", profile_path %></li>
      <li><%= link_to "NJSの狙い", about_path %></li>
    </ul>
  </nav>
</footer>